{% extends "layout.html" %}

{% block main %}
<div class="container">
    <div class="section">
        <h1>Add your Github Repository!</h1>
        <div class="card-panel blue">
            <span class="white-text">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
            </span>
        </div>
        <div class="card-panel white">
            <form class="col s12" action="" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="OwO" name="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">cloud_circle</i>
                        <input placeholder="github.com/UwU" name="github" type="text" class="validate">
                        <label for="github">Github</label>
                    </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="OwO" name="id" type="text" class="validate">
                            <label for="name">CWID</label>
                        </div>
                    </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light right blue" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}